
<br />
<br />
<div style="margin-left: 200px; margin-top: 25px">


<%= link_to "Home", posts_path %><br/>

<br />

<p>add atrilli to the list multiple pages</p>
<p>page of realease dates http://cantstophiphop.com/release-dates/ maybe find a comprable list</p>

<br />

</div>

<div style="margin-left: 200px">
	<div style="width: 990px; float: left">

		<a href="/search/audiomack"><img src="http://i.imgur.com/nj3QqLr.jpg"/></a>
		<a href="/search/hotnewhiphop"><img src="http://i.imgur.com/wK3Gkub.jpg"/></a>
		<a href="/search/videos"><img src="http://i.imgur.com/c5daQLK.jpg"/></a>

		<br />
		<br />


		<a href="/search/audiocastle"><img src="http://i.imgur.com/5OL32Ff.jpg"/></a>
		<a href="/search/hiphopearly"><img src="http://i.imgur.com/mBU8hkw.jpg"/></a>
		<%= link_to(image_tag("http://i.imgur.com/RF3HOUC.jpg"), search_mixtapes_path) %>
		<a href="/search/howflyhiphop"><img src="http://i.imgur.com/5n53gLF.jpg"/></a>
		<a href="/search/worldstar"><img src="http://i.imgur.com/AuYMRm8.jpg"/></a>
		<a href="/search/reddit"><img src="http://i.imgur.com/ikmHJyB.jpg"/></a>
		
		


		
	</div>
</div>