
<br />
<br />
<div style="margin-left: 200px; margin-top: 200px">



<%= link_to "young thug" %><br/>


<br />
<br />
<br />
<br />

<iframe width="560" height="315" src="//www.youtube.com/embed/<%= @search_results %>" frameborder="0" allowfullscreen></iframe>




</div>