hello world!
playlist.html.erb
<div id="siteContainer">
	<div class="alltheInfo">
		This will be the page with user playlists.   <br />
		<br />
		<br />
		<br />
		
		Type in the TITLE of the song  here. 
		
		<p>
			Title text box
		</p>

		<br />
		<br />
		<br />
		
		Type in the ARTIST name here

		<p>
			Artist text box
		</p>


		<%= button_to "Output Video" %>


		<br />
		<br />
		<br />
		Video will output here<br />


		Make sure users can upload an entire palylist from soundcloud or itunes or a csv file or whatever. videos should also play concurrently.

	

	</div>
</div>

